.title {
  text-align: center;
  margin-bottom: 80px;
}

/* Navbar */

.nav-container {
  position: relative;
  display: flex;
}

.logout-div {
  display: flex;
  position: absolute;
  right: 20px;

}

.blog-card {
  position: relative;
  display: flex;
  padding: 15;

}

.list-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.blog-details {
  padding: 25px;
}

.div-header {
  position: relative;
}
.div-header button {
  position: absolute;
  top: 1px;
  right: 2px;
}

#remove-btn {
  margin-bottom: 10px;
}

.form-btn {
  margin-top: 10px;
}
